body {
  background-color: beige;
  color: maroon;
}
body {
  #detail {
    display: none;
  }
	&.-showdetail {
    #master {
      display: none;
    }
    #detail {
      display: block;
    }
	}
}

table {
  border-collapse: collapse;
  border: solid 1px maroon;
  background-color: white;
}
tr {
  border-top: solid 1px maroon;
}
th, td {
  border-left: solid 1px maroon;
}
th {
  cursor: pointer;
  position: relative;
  padding-right: 1.2em;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: calc(50% - 0.5em);
    right: 0.1em;
    width: 1em;
    height: 1em;
  }
  &[data-sort-order="asc"]::after {
    content: "▲";
  }
  &[data-sort-order="desc"]::after {
    content: "▼";
  }
}

.stats {
  border: solid 1px maroon;
  background-color: white;
  height: 250px;
  > .graph {
    height: 230px;
    position: relative;
    > .bar {
      position: absolute;
      bottom: 60px;
      width: 10px;
      background-color: maroon;
      &.-selected {
        background-color: red;
      }
      > .label {
        position: absolute;
        bottom: -15px;
        left: 9px;
        transform-origin: 0 0;
        rotate: 45deg;
        font-size: 10px;
        white-space: nowrap;
      }
    }
  }
  > .selector {
    border-top: solid 1px maroon;
    margin: 0;
    padding: 0;
    height: 20px;
    line-height: 20px;
    list-style: none;
    display: flex;
    > li {
      text-align: center;
      cursor: pointer;
      flex-grow: 1;
      + li {
        border-left: solid 1px maroon;
      }
      &:hover, &.-selected {
        background-color: maroon;
        color: white;
      }
    }
  }
}

@media (max-width: 600px) {
  table {
    width: 100%;
  }
  thead {
    display: none;
  }
  tr {
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em 0.5em;
  }
  th, td {
    &[data-sp-display="none"] {
      display: none;
    }
  }
  td {
    border: none;
    &[data-sp-display="primary"] {
      font-size: 1.2em;
      font-weight: bold;
      flex-basis: 100%;
    }
    &[data-sp-display="secondary"] {
      padding: 0 0.8em;
      border-radius: 0.5lh;
    }
  }
}

#detail {
  dl {
    border-top: solid 1px maroon;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin: 0;
    &:last-child {
      border-bottom:  solid 1px maroon;
    }
  }
  dt {
    margin-bottom: 0.2em;
    font-weight: bold;
  }
  dd {
    margin: 0;
    font-size: 1.2em;
  }
  button {
    margin-top: 1em;
    border: none;
    width: 100%;
    color: white;
    background-color: maroon;
    line-height: 2.5;
    border-radius: 0.5lh;
  }
}
